<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
    <input type="text" placeholder="Search city" [(ngModel)]="cityName" name="cityName">
  </form>
</div>

@if(weatherData){
  <div class="container">
    <div class="upper-data">
      @if(weatherData.current_observation.condition.temperature > 15){
        <img src="../assets/hot.jpg" alt="hot weather">
      } @else {
        <img src="../assets/cold.jpg" alt="cold weather">
      }
      <div class="weather-data">
        <div class="location">{{weatherData.location.city}}</div>
        <div class="temperature">{{weatherData.current_observation.condition.temperature}}°C</div>
      </div>
    </div>
    <div class="lower-data">
      <div class="more-info-label">
        More Information
      </div>
      <div class="more-info-container">
        <div class="info-block">
          <div class="info-block-label">
            <fa-icon [icon]="faTemperatureLow" style="color:#41d9f2;"></fa-icon>
            <span>min</span>
          </div>
          <div class="info-block-value">
            {{weatherData.forecasts[0].low}}°C
          </div>
        </div>
        <div class="info-block">
          <div class="info-block-label">
            <fa-icon [icon]="faTemperatureHigh" style="color:#f14951;"></fa-icon>
            <span>max</span>
          </div>
          <div class="info-block-value">
            {{weatherData.forecasts[0].high}}°C
          </div>
        </div>
        <div class="info-block">
          <div class="info-block-label">
            <fa-icon [icon]="faDroplet" style="color:#a0ecf9;"></fa-icon>
            <span>humidity</span>
          </div>
          <div class="info-block-value" style="padding-left:10px;">
            {{weatherData.current_observation.atmosphere.humidity}}%
          </div>
        </div>
        <div class="info-block">
          <div class="info-block-label">
            <fa-icon [icon]="faWind" style="color:#fce063;"></fa-icon>
            <span>wind</span>
          </div>
          <div class="info-block-value">
            {{weatherData.current_observation.wind.speed}} km/h
          </div>
        </div>                  
      </div>
    </div>
  </div>
}

<router-outlet><router-outlet />
